@import "normalize.css";

:root {
  --white: #d3d6db;
  --black: #292a31;
  --grey: #2e383f;
  --red: #be3144;

  --white: #eeebdd;
  /* --black: #1b1717; */
  --grey: #810000;
  --red: #ce1212;

  /* --white: #dbedf3;
  --black: #283149;
  --grey: #404b69;
  --red: #00818a; */

  --bp-sm: 540px;
  --bp-md: 720px;
  --bp-lg: 960px;
  --bp-xl: 1140px;
  --bp-xxl: 1320px;

}

body {
  background-color: var(--black);
  color: var(--white);
}

.container {
  max-width: var(--bp-xxl);
  margin: 0 auto;
  background-color: var(--grey);
}

.btn {
  width: 150px;
  height: 50px;
  background-color: var(--red);
  border: none;
  border-radius: 5px;
}